@model SistemaInventario.Modelos.ViewModels.CompañiaVM

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Producto";
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border-0">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    @if (Model.Compañia.Id != 0)
    {
        // Actualizar
        titulo = "Actualizar Compañia";
        <input type="hidden" asp-for="Compañia.Id" />
    }

    <div class="col-12 border-bottom">
        <h2 class="text-primary">@titulo</h2>
    </div>
    <div class="col-8 pt-4">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Compañia.Nombre"></label>
            </div>
            <div class="col-8">
                <input asp-for="Compañia.Nombre" class="form-control" />
                <span asp-validation-for="Compañia.Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Compañia.Descripcion"></label>
            </div>
            <div class="col-8">
                <input asp-for="Compañia.Descripcion" class="form-control" />
                <span asp-validation-for="Compañia.Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Compañia.Pais"></label>
            </div>
            <div class="col-8">
                <input asp-for="Compañia.Pais" class="form-control" />
                <span asp-validation-for="Compañia.Pais" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Compañia.Ciudad"></label>
            </div>
            <div class="col-8">
                <input asp-for="Compañia.Ciudad" class="form-control" />
                <span asp-validation-for="Compañia.Ciudad" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Compañia.Direccion"></label>
            </div>
            <div class="col-8">
                <input asp-for="Compañia.Direccion" class="form-control" />
                <span asp-validation-for="Compañia.Direccion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Compañia.Telefono"></label>
            </div>
            <div class="col-8">
                <input asp-for="Compañia.Telefono" class="form-control" />
                <span asp-validation-for="Compañia.Telefono" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                Bodega Venta
            </div>
            <div class="col-8">
                @Html.DropDownListFor(c => c.Compañia.BodegaVentaId, Model.BodegaLista,"Seleccione",
                 new {@class="form-control"} )
                <span asp-validation-for="Compañia.BodegaVentaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                Logo
            </div>
            <div class="col-8">
                <input type="file" name="files" id="escogerImg" multiple class="form-control" />
            </div>
        </div>       

        <div class="form-group row">
            <div class="col-8 offset-4">
                @if (Model.Compañia.Id != 0)
                {
                    <partial name="_BotonesActualizarYRegresar" model="Model.Compañia.Id" />
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <button type="submit" onclick="return validarEntrada()" class="btn btn-primary form-control">Crear</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Regresar</a>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>

    @if (Model.Compañia.Id != 0)
    {
        <div>
            <img src="@Model.Compañia.LogoUrl" style="width:30%; border-radius:5px; border:1px solid #bbb9b9" />
        </div>
    }

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function validarEntrada(){
            if (document.getElementById("escogerImg").value == ""){
                swal("Error", "Seleccione una Imagen", "error");
                return false;
            }
            return true
        }
    </script>
}






