@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Orden Procesada Correctamente</h1><br />
        <img src="~/imagenes/confirmacion.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Gracias Por tu Orden! <br />
	Hemos recibido tu Orden y Nosotros te enviaremos un email pronto!
        <br />
        Your Order Number is : @Model

        <div class="text-center">
            <a asp-area="Inventario" asp-controller="Home" asp-action="Index" class="btn btn-success">Salir</a>
            <a asp-action="ImprimirOrden" class="btn btn-warning" asp-route-id="@Model" target="_blank">
                <i class="fas fa-print"></i> Imprimir
            </a>
        </div>
    </div>
</div>